.SeasonView {
  display: flex;

  padding-left: 0.5em;

  position: relative;

  white-space: nowrap;

  .Title {
    display: inline;

    margin-right: 0.5em;
  }

  .Episodes {
    vertical-align: middle;

    display: inline flex;
    flex-direction: row;
    gap: 0.5em;

    align-items: center;

    flex-wrap: wrap;

    .Episode {
      display: inline-block;

      width: 1em;
      height: 1em;
    }

    .NotWatchedEpisode {
      border: 1px red solid;
      box-sizing: border-box;
    }

    .WatchedEpisode {
      background-color: red;
    }
  }
}

.selected::before {
  height: 100%;
  width: 0.2em;

  content: "";

  background-color: black;

  left: 0;
  position: absolute;
  display: block;
}
