.SeasonView {
  display: flex;
  flex-direction: row;
  gap: 0.5em;

  align-items: center;

  .Title {
    display: inline;
  }

  .SetPreviewButton {
    display: inline-block;

    width: 1em;
    height: 1em;

    background-color: gray;
  }

  .Episode {
    display: inline-block;

    width: 1em;
    height: 1em;
  }

  .NotWatchedEpisode {
    border: 1px red solid;
    box-sizing: border-box;
  }

  .WatchedEpisode {
    background-color: red;
  }
}
