.SidePanel {
  display: flex;
  flex-direction: column;

  height: 100%;
  box-sizing: border-box;

  padding: 1em 0;

  min-width: max-content;

  >* {
    height: 0;
    flex-grow: 1;
  }

  .FiltersSection {
    .SectionHeading {
      padding-left: 1em;
    }
  }
}
