.MoviePreview {
  .TallImageWrapper {
    overflow-y: auto;
    overflow-x: hidden;
  }

  .WideImageWrapper {
    overflow-y: hidden;
    overflow-x: auto;
  }

  .ImageWrapper {
    width: 7em;
    height: 10em;

    .Image {
      object-fit: fill;

      min-height: 100%;
      min-width: 100%;
    }

    .WideImage {
      height: 100%;
    }

    .TallImage {
      width: 100%;
    }

    .ImageEmpty {
      background: repeating-linear-gradient(45deg, black 0 15px, white 15px 30px);
    }
  }

  .MovieSelector {
    margin-top: 0.25em;

    display: flex;

    flex-direction: row;

    gap: 0.5em;

    .MovieSelectorItem {
      box-sizing: border-box;

      border: 2px black solid;

      padding: 2px;

      .MovieSelectorItemDot {
        width: 0.4em;
        height: 0.4em;
      }

      .MovieSelectorItemSelectedDot {
        background-color: black;
      }
    }

    .MovieSelectorItemMain {
      border: 2px red solid;
    }
  }
}
