@use "custom.scss";

.FilterSelector {
  background-color: custom.$primary-background-color;

  height: 100%;

  display: flex;

  flex-direction: column;

  line-height: 1.4;

  .Filter {
    background-color: custom.$even-rows-background-color;

    padding-left: 1em;

    p {
      display: inline;
      vertical-align: middle;
      pointer-events: none;
    }

    input {
      vertical-align: middle;
    }
  }

  .Filter:nth-child(even) {
    background-color: custom.$odd-rows-background-color;
  }
}
