$primary-background-color: #eff0f1;
$secondary-background-color: #dddddd;

$selection-background-color: #a4c2d6;
$selection-color: #52a1d6;

$even-rows-background-color: #e4e5e7;
$odd-rows-background-color: $primary-background-color;
