* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.pure-menu,
.pure-menu-children {
  background-color: #dddddd;
}

.pure-menu-link {
  color: #333;

  padding: 0.25em 0.5em;
}
